<!DOCTYPE html>
<html>
	{{> meta}}


	<body>
		<h1> {{pageTitle}} </h1>
		{{> header}}
		<!-- can pass multiple arguments into the braces separated by spaces -->
		<p> {{screamIt welcomeMessage}} </p>
	</body>
	
	<!-- syntax to inject partials -->
	{{> footer}}
</html>