<!DOCTYPE html>
<html>
	{{> meta}}

	<body>
		{{> header}}
		<h3> These are my projects </h3>
		<p> Look at them. Aren't they great. </p>
	</body>
	
	<!-- syntax to inject partials -->
	{{> footer}}
</html>